html,
body {
  height:100%;
  margin:0;
}
body {
  background-color: #000;
}

#canvas-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
button {
}
.play-button:focus {
  border: none;
}
.play-button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size:3rem;

  width: 4rem;
  height: 4rem;
  color: #000;
  border-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.music-console {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 6rem;
}

.music-control-elements {
  height: 6rem;
  position:absolute;
  overflow: hidden;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
}

.music-control-element {
  position: relative;
  margin: auto 0;
  margin-left:1rem;
  margin-right:1rem;
  overflow: hidden;
}
.music-info {
}

.album-art {
  width:4rem;
  height:4rem;
  background-color: #AAA;
  display: inline-block;
}

.title-and-artist {
  display: inline-block;
}

.content-main-wrap {
  background-color: rgba(255, 255, 255, 0.8);
}

.content-main {
  max-width : 100rem;
  margin: 0 auto;
  min-height: 100rem;
}
.music-title {
  display: block;
}

.music-artist {
  display: block;
}

.playback-volume-controll-area > input {
  width: 5rem;
}

@media only screen and (max-width: 800px) {
  .play-button {
    font-size:2rem;

    /*width: 4rem;
    height: 4rem;*/
    margin-left: 0.0rem;
    margin-right: 0.0rem;
  }

  .music-control-element {
    font-size:0.5rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
  }
  .music-info {
    display: none;
  }
  .playback-volume-controll-area > input {
    width: 5rem;
  }
}
